# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# Visual Studio specific files
.vs/
*.suo
*.user
